.home-container, .movies-container, .movie-view-container, .movies-form-container, .games-container, .game-view-container, .games-form-container, .login-form-container, .register-form-container, .pwd-form-container {
  width: 100%;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.layout-content-header {
  background: #FFF !important;
  padding: 10px 20px !important;
}

.layout-content-header .content-header-welcome {
  margin: 5px 0 !important;
}

.content-header-left {
  float: left;
}

.content-header-right {
  float: right;
}

/**HOME**/

.home-main {
  margin-bottom: 25px;
}

.home-btn+.home-btn {
  margin-left: 15px;
}

.home-buttons {
  margin-bottom: 100px;
}

.login-form-title, .login-form-return, .register-form-title, .register-form-return, .pwd-form-title, .pwd-form-return {
  display: inline-block;
}

.login-form-return, .register-form-return, .pwd-form-return {
  margin-right: 15px;
}

.login-form, .register-form, .pwd-form {
  width: 50%;
  margin: 0 auto;
  background: #fff;
  padding: 30px 25px;
}

.login-form-input, .register-form-input, .pwd-form-input {
  margin-bottom: 15px;
}

.movie-view-information, .movie-view-description, .movie-view-review {
  padding: 35px 30px;
  background-color: #FFFFFF;
}

.movie-view-information-img, .movie-view-information-info, .game-view-information-img, .game-view-information-info {
  display: inline-block;
  vertical-align: top;
}

.movie-view-information-info, .game-view-information-info {
  width: 100%;
  margin-left: 30px;
}

.movies-add-btn, .movies-form-return-btn, .games-add-btn, .games-form-return-btn {
  margin-bottom: 15px;
}

.movies-search-bar, .games-search-bar {
  width: 30% !important;
  margin-bottom: 15px;
}

.movies-form, .games-form {
  background: #ececec;
  width: 90%;
  margin: 0 auto;
  padding: 25px;
}

.movies-form-input, .games-form-input {
  margin-bottom: 15px;
}